<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>

    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>

    {{>navbar}}

    <section class="events">
        <div class="content">
            <p>Lorem ipsum dolor sit amet.</p>
            <h2>Events</h2>
            <p>Lorem ipsum dolor, sit amet consectetur Garima Subhash adipisicing elit. Adipisci, error dolorem odit
                earum nobis quas
                commodi tempore magni praesentium molestias doloribus nisi minima cupiditate qui repellendus aspernatur
                officiis, delectus et ipsum ad odio.</p>
        </div>
    </section>

    <section class="service_Bx" id="service_Bx">
        <div class="imp_links">
            <a href="#workshop">
                <div class="card">
                    <img src="images/training.png" alt="workshop">
                    <h1>Workshop</h1>
                </div>
            </a>
            <a href="#">
                <div class="card">
                    <img src="images/video.png" alt="workshop">
                    <h1>Webinar & lecture</h1>
                </div>
            </a>
            <a href="#discussion_pannel">
                <div class="card">
                    <img src="images/conversation.png" alt="workshop">
                    <h1>Panel Descision</h1>
                </div>
            </a>
            <a href="">
                <div class="card">
                    <img src="images/social-media.png" alt="workshop">
                    <h1>Compaign</h1>
                </div>
            </a>
        </div>
    </section>

    <section class="workshop" id="workshop">
        <div class="workshop-content">
            <div class="workshop_img">
                <figure>
                    <img src="assets/Civil_image3.jpg" alt="image">
                </figure>
            </div>
            <div class="workshop_detail">
                <h4>Hands on</h4>
                <hr>
                <h1>Workshop</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, voluptatibus est fugiat, sunt
                    facilis, quis eius ipsa vero totam quisquam et perspiciatis quas cum. Placeat, laborum sint aliquam
                    atque animi amet deserunt possimus. Vitae minus corporis nemo, sunt soluta nostrum officiis aliquam
                    aliquid porro sit a. Vel, aspernatur. Velit, fuga?</p>
                <a href="#">Read More</a>
            </div>
        </div>
    </section>


    <section class="work" id="work">
        <div class="heading">
            <h2>Our Latest Projects</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="web-img">
            <div class="workBx">
                <img src="assets/Civi_image5.jpg" alt="#first">
            </div>
            <div class="workBx">
                <img src="assets/Civil_image6.jpg" alt="#second">
            </div>
            <div class="workBx">
                <img src="assets/Civil_image2.jpg" alt="#third_img">
            </div>
            <div class="workBx">
                <img src="assets/Civil_image4.jpg" alt="#fourth_img">
            </div>
        </div>
        <a href="#" class="btn">View More</a>

    </section>

    {{!-- =====================================================
    DISCUSSION PANNEL START 
    ========================================================= --}}

    <section class="workshop discussion_pannel" id="discussion_pannel">
        <div class="workshop-content">
            <div class="workshop_img discussion_pannel_img">
                <figure>
                    <img src="assets/civil_image.jpg" alt="image">
                </figure>
            </div>
            <div class="workshop_detail discussion_pannel_detail">
                <h2>DISCUSSION</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, voluptatibus est fugiat, sunt
                    facilis, quis eius ipsa vero totam quisquam et perspiciatis quas cum. Placeat, laborum sint aliquam
                    atque animi amet deserunt possimus. Vitae minus corporis nemo, sunt soluta nostrum officiis aliquam
                    aliquid porro sit a. Vel, aspernatur. Velit, fuga?</p>
                <a href="#">Read More</a>
            </div>
        </div>
    </section>

    {{>footer}}



    <script src="js/index.js"></script>

</body>

</html>