<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>

    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    
    {{>navbar}}

    <section class="hero">
        <div class="about-team">
            <h1>Newsletter</h1>
            {{!-- <div><span class="element"></span></div> --}}
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt harum soluta totam adipisci, nulla eaque tempore optio ratione perferendis 
            inventore? Obcaecati perferendis adipisci qui ducimus est, eligendi fugit iste in.</p>
        </div>
    </section>

    {{>footer}}


    <script src="js/index.js"></script>

</body>
</html>