<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    
    {{>navbar}}

    <section class="hero">
        <div class="about-team">
            <h1>Our Teams</h1>
            <div><span class="element"></span></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt harum soluta totam adipisci, nulla eaque tempore optio ratione perferendis 
            inventore? Obcaecati perferendis adipisci qui ducimus est, eligendi fugit iste in.</p>
        </div>
    </section>


    
    <section class="team-members" id="team">
        <div class="max-widths">
            <h2 class="title">Development Wing </h2>
            <div class="cards">
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team-members" id="team">
        <div class="max-widths">
            <h2 class="title">Development Wing </h2>
            <div class="cards">
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team-members" id="team">
        <div class="max-widths">
            <h2 class="title">Development Wing </h2>
            <div class="cards">
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team-members" id="team">
        <div class="max-widths">
            <h2 class="title">Development Wing </h2>
            <div class="cards">
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team-members" id="team">
        <div class="max-widths">
            <h2 class="title">Mangement Team Members</h2>
            <div class="cards">
                <div class="card card-move1">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Development wing</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, aut?</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move2">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Development wing</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, aut?</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move3">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Development wing</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, aut?</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move1">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Development wing</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, aut?</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move1">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Development wing</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, aut?</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team-members" id="team">
        <div class="max-widths">
            <h2 class="title">Development Wing </h2>
            <div class="cards">
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team-members" id="team">
        <div class="max-widths">
            <h2 class="title">Development Wing </h2>
            <div class="cards">
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team-members" id="team">
        <div class="max-widths">
            <h2 class="title">Development Wing </h2>
            <div class="cards">
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card card-move">
                    <div class="profile-img"><img src="images/mypic.jpg" alt="Personal image"></div>
                    <div class="info">
                        <h2>Subhash Kumar Yadav</h2>
                        <h4>Development Wing</h4>
                        <p>+91-xxxxxxxxx</p>
                        <div class="socio">
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}

    <script src="js/index.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 120,
            delay: 0,
            duration: 400,
            easing: 'ease'
        });
    </script> 
    <script>
        var typed = new Typed('.element', {
            strings: ["General Secretary" , "Joint Secretary" , "Treasurer", "Editor-in-chief","Public Relation Head",
            "Technical Lead ", "Development Wing" , "Software Wing" , "Designing Wing" ,"Research and Analysis Wing",
            "Management Wing", "Master’s Wing"],
           // smartBackspace: true // Default value
            typeSpeed: 100,
            backSpeed: 50,
            loop:true,
        });
    </script>

</body>

</html>