        <footer>
        <div class="container">
            <div class="sec content">
                <h2>About Scem</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat
                    delectus natus dolor iste amet autem quo deserunt, iure veniam
                    distinctio ducimus! Voluptas ipsa illum explicabo perferendis
                    ducimus dolores libero quibusdam.
                </p>
                <ul class="sci">
                    <li>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
            <div class="sec quickLinks">
                <h2>Quick Links</h2>
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">contact</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">competition</a></li>
                    <li><a href="#">our team</a></li>
                </ul>
            </div>
            <div class="sec quickLinks">
                <h2>Upcoming quize</h2>
                <ul class="info">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">contact</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">competition</a></li>
                    <li><a href="#">our team</a></li>
                </ul>
            </div>
            <div class="sec contact-us">
                <h2>Contact Info</h2>
                <ul class="infos">
                    <li>
                        <span><i class="fa-solid fa-location-dot"></i></span>
                        <span>MNIT Jaipur , 302017</span>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-square-phone-flip"></i></span>
                        <p><a href="#">+91-8709439691</a></p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-envelope"></i></span>
                        <p><a href="#">codersubhash001@gmail.com</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <p>copyright @ 2022 <span>Subhash</span>  | All rights reserved.</p>
    </div>