
    <nav class="navbar">
        <div class="max-width">
            <div class="logo">
                <img src="assets/scem_logo.png" alt="logo">
                <a href="/home">SCEM<span>.</span></a>
            </div>
            <ul class="menu">
                <li><a href="/" class="menu-btn">Home</a></li>
                <li><a href="/events" class="menu-btn">Events</a></li>
                <li><a href="/competition" class="menu-btn">Competition</a></li>
                <li><a href="/verification" class="menu-btn">Verification</a></li>
                <li><a href="/contact" class="menu-btn">Contact Us</a></li>
                <li><a href="/team" class="menu-btn">Our team</a></li>
                <li><a href="/newsletter" class="menu-btn">Newsletter</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>